/* Container for image and form */
.container {
    display: flex;
    background-color:  #A5B68D;
    ; /* Light green background */
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 90%; /* Adjust the size as per need */
    border-radius: 10px;
  }
  
  .form-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-toggle {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  button.active {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button.inactive {
    background-color: #d5dabd;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  button[type="submit"] {
    background-color: #ccc;
    color: #000;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  